@media screen and (max-width: 480px) {
  .container {
    padding: 0 15px;
  }
  .title {
    font-size: 36px;
    padding-left: 20px;
  }
  .subtitle {
    display: none;
  }
  .top {
    margin-top: 100px;
  }
  .body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__logo-img {
    width: 159px;
    height: 52px;
  }
  .transactions {
    top: unset;
  }
  .transactions__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .transactions__title {
    font-size: 32px;
    line-height: 37px;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .transactions__item {
    margin-left: 0;
    margin-right: 0;
    margin-top: 42px;
  }
  .transactions__item:nth-child(2) {
    margin-right: 0;
  }
  .benefits__top {
    margin-top: 60px;
  }
  .benefits__body {
    margin-top: 45px;
  }
  .benefits__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
  .benefits__item:first-child .benefits__text-name {
    font-size: 21px;
  }
  .benefits__img {
    margin-right: 20px;
  }
  .benefits__text {
    margin-top: 0;
  }
  .benefits__btn {
    margin-top: 35px;
  }
  .features {
    background-image: unset;
  }
  .features__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 90px;
  }
  .features__col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .features__btn {
    background-color: #FF005C;
    color: #fff;
    margin-top: 35px;
  }
  .start__item {
    width: 100%;
  }
  .faq__nav {
    display: none;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__text {
    margin-top: 25px;
    margin-left: 0;
  }
  .footer__info-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
    margin-left: 10px;
  }
  .footer__info-col:first-child {
    margin-bottom: 2px;
  }
  .footer__info-col:nth-child(2) {
    margin-bottom: 0;
  }
  .footer__year {
    display: none;
  }
  .footer__social-wrap {
    margin-top: 15px;
  }
  .footer__mail {
    margin-top: 38px;
    border-bottom: 1px solid #37353F;
    padding-bottom: 14px;
    width: 133px;
  }
  .footer__img {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer__nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 10px;
  }
  .footer__col {
    margin-top: 20px;
  }
  .contacts {
    margin-top: 60px;
    margin-bottom: 64px;
  }
  .contacts__item-description {
    margin-top: 25px;
  }
}